.country-display-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: wrap;
    background: var(--theme-background-clr);
    box-sizing: border-box;
    padding: 0 80px;
}

.country-card-container {
    width: 264px;
    height: 336px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    color: var(--theme-text-clr);
    background: var(--theme-elements-clr);
    margin-bottom: 60px;
}

.country-card-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-flag {
    width: 100%;
    height: 158px;
    border-radius: 10px 10px 0 0;
}


/* .country-flag img {
    width: 100%;
    border-radius: 10px 10px 0 0;
} */

.country-name {
    width: 240px;
    text-align: left;
    font-family: nunito-extra-bold;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 27px;
}

.country-population,
.country-region,
.country-capital {
    width: 240px;
    text-align: left;
}

.country-population span,
.country-region span,
.country-capital span {
    text-align: left;
    font-family: nunito-semi-bold;
}

@media screen and (max-width: 710px) {
    .country-display-container {
        justify-content: center;
    }
}